<section class="attendance-component mt-40 pl-15 pr-15">
  <app-right-navigation [headingVar]="passingHeading">

  </app-right-navigation>

  <div class="row no-gutters clearfix mt-60 table-view">

    <div class="container">

      <div class="row no-gutters mt-30 pl-15 pr-15 positional-table-filter">
        <div class="">
          <span class="text-left" style="font-size: 20px;font-weight: bold">List of Packages</span>
        </div>

        <div class="" style="">
<!--          <span class="text-left mr-2">-->
<!--            <button class="outline-button-style">Print List</button>-->
<!--          </span>-->
          <span class="text-right">
            <button (click)="PackagesEvent(null,EntityStatusEnum.Creation)" class="golden-button-style">Add New Package</button>
          </span>
        </div>


      </div>
      <div class="table-responsive row no-gutters mt-30">
        <ng-container *ngIf="AllPackageData && AllPackageData.length">
          <table class="table table-borderless table-attendence-design">
            <thead>


            <tr >
              <th scope="col">Package ID <span class="sorting-icon"></span></th>
              <th scope="col">Name</th>
              <th scope="col">Total Count</th>
              <th scope="col">Actions</th>
              <th scope="col"></th>
            </tr>


            </thead>
            <tbody>
            <tr *ngFor="let ItemPackage of AllPackageData">
              <td>{{ItemPackage.PackageId}}</td>
              <td>{{ItemPackage.Title}}</td>
              <td>{{ItemPackage.TotalCount || '--'}}</td>

              <td colspan="2">
                <span (click)="PackagesEvent(ItemPackage,EntityStatusEnum.View)" tooltip="View" class="view-table-style"></span>
                <span (click)="PackagesEvent(ItemPackage,EntityStatusEnum.Edit)" tooltip="Edit" class="edit-table-style"></span>
                <span (click)="DeletePackage(ItemPackage)" tooltip="Delete" class="delete-table-style"></span>
              </td>
            </tr>



            </tbody>
          </table>
        </ng-container>

      </div>


    </div>

  </div>
  <div class="row no-gutters clearfix mt-20 pagination-styling-table">

    <div *ngIf="AllPackageData && AllPackageData.length" class="clearfix">
      <span class="pagination-textual-style">
        Showing 10 out of 230
      </span>
      <pagination
        class=""
        style="display: inline-block"
        [boundaryLinks]="true"
        [totalItems]="AllPackageData.length"
        previousText="<"
        nextText=">"
        firstText="<<"
        lastText=">>">
      </pagination>
    </div>


  </div>
</section>




<ng-template #ActivityIntentForm>
      <div class="sliderHeader">
        <div class="row">
          <div class="col-sm-8">

            <h2>
              <small>
                <ng-container *ngIf="currentActionEvent==EntityStatusEnum.Edit">
                  Edit Package
                </ng-container>

                <ng-container *ngIf="currentActionEvent==EntityStatusEnum.View">
                  View Package
                </ng-container>

                <ng-container *ngIf="currentActionEvent==EntityStatusEnum.Creation">
                  New Package
                </ng-container>

              </small>
            </h2>
          </div>
          <div class="col-sm-4 text-right">

            <ng-container *ngIf="currentActionEvent==EntityStatusEnum.Edit">
              <button (click)="UpdatePackageDetails($event)" type="button" class="btn btn-primary">
               Update
              </button>
            </ng-container>

            <ng-container *ngIf="currentActionEvent==EntityStatusEnum.Creation">

              <button (click)="CreatePackageDetails($event)" type="button" class="btn btn-primary">
                Save
              </button>

            </ng-container>


            <button (click)="DiscardPackageForm($event)" type="button" class="ml-2 btn btn-outline-warning">
              Discard
            </button>

          </div>
        </div>
      </div>
      <div class="sliderBody scrollY lighter" style="max-height: calc(100vh - 88px);">
        <div class="row">
          <form class="full-width" *ngIf="ActivityIntentFormGroup" [formGroup]="ActivityIntentFormGroup">
            <div class="col-sm-12 mx-auto">


              <div class="row">
                <div class="col-sm-12">
                  <div class="field-group">
                    <mat-form-field class="" appearance="outline">
                      <mat-label>Package Title</mat-label>
                      <input matInput formControlName="Title">
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="field-group">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Amount</mat-label>
                      <input matInput type="number" formControlName="Amount">
                    </mat-form-field>
                  </div>
                </div>
              </div>




              <div class="row">
                <div class="col-sm-12">
                  <div class="field-group">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Duration</mat-label>
                      <input matInput type="number" formControlName="DurationDays">
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="field-group">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Description</mat-label>
                      <textarea matInput formControlName="Description"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>

            </div>

          </form>
        </div>
      </div>
</ng-template>


