<section class="attendance-component mt-40 pl-15 pr-15">
  <app-right-navigation [headingVar]="passingHeading">

  </app-right-navigation>

  <div class="row no-gutters clearfix mt-60 table-view">

    <div class="container">

      <div class="row no-gutters mt-30 pl-15 pr-15 positional-table-filter">
        <div class="">
          <span class="text-left" style="font-size: 20px;font-weight: bold">List of Packages</span>
        </div>

        <div class="" style="">
<!--          <span class="text-left mr-2">-->
<!--            <button class="outline-button-style">Print List</button>-->
<!--          </span>-->
          <span class="text-right">
            <button class="golden-button-style">Add New Package</button>
          </span>
        </div>


      </div>
      <div class="table-responsive row no-gutters mt-30">
        <table class="table table-borderless table-attendence-design">
          <thead>
          <tr>
            <th scope="col">Package ID <span class="sorting-icon"></span></th>
            <th scope="col">Name</th>
            <th scope="col">Total Count</th>
            <th scope="col">Actions</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>001</td>
            <td>Gold Package</td>
            <td>325</td>

            <td colspan="2">
              <span tooltip="View" class="view-table-style"></span>
              <span tooltip="Edit" class="edit-table-style"></span>
              <span tooltip="Delete" class="delete-table-style"></span>
            </td>
          </tr>
          <tr>
            <td>001</td>
            <td>Gold Package</td>
            <td>325</td>

            <td colspan="2">
              <span class="view-table-style"></span>
              <span class="edit-table-style"></span>
              <span class="delete-table-style"></span>
            </td>
          </tr>
          <tr>
            <td>001</td>
            <td>Gold Package</td>
            <td>325</td>

            <td colspan="2">
              <span class="view-table-style"></span>
              <span class="edit-table-style"></span>
              <span class="delete-table-style"></span>
            </td>
          </tr>
          <tr>
            <td>001</td>
            <td>Gold Package</td>
            <td>325</td>

            <td colspan="2">
              <span class="view-table-style"></span>
              <span class="edit-table-style"></span>
              <span class="delete-table-style"></span>
            </td>
          </tr>
          <tr>
            <td>001</td>
            <td>Gold Package</td>
            <td>325</td>

            <td colspan="2">
              <span class="view-table-style"></span>
              <span class="edit-table-style"></span>
              <span class="delete-table-style"></span>
            </td>
          </tr>
          <tr>
            <td>001</td>
            <td>Gold Package</td>
            <td>325</td>

            <td colspan="2">
              <span class="view-table-style"></span>
              <span class="edit-table-style"></span>
              <span class="delete-table-style"></span>
            </td>
          </tr>
          <tr>
            <td>001</td>
            <td>Gold Package</td>
            <td>325</td>

            <td colspan="2">
              <span class="view-table-style"></span>
              <span class="edit-table-style"></span>
              <span class="delete-table-style"></span>
            </td>
          </tr>
          <tr>
            <td>001</td>
            <td>Gold Package</td>
            <td>325</td>

            <td colspan="2">
              <span class="view-table-style"></span>
              <span class="edit-table-style"></span>
              <span class="delete-table-style"></span>
            </td>
          </tr>
          <tr>
            <td>001</td>
            <td>Gold Package</td>
            <td>325</td>

            <td colspan="2">
              <span class="view-table-style"></span>
              <span class="edit-table-style"></span>
              <span class="delete-table-style"></span>
            </td>
          </tr>
          <tr>
            <td>001</td>
            <td>Gold Package</td>
            <td>325</td>

            <td colspan="2">
              <span class="view-table-style"></span>
              <span class="edit-table-style"></span>
              <span class="delete-table-style"></span>
            </td>
          </tr>


          </tbody>
        </table>
      </div>


    </div>

  </div>
  <div class="row no-gutters clearfix mt-20 pagination-styling-table">

    <div class="clearfix">
      <span class="pagination-textual-style">
        Showing 10 out of 230
      </span>
      <pagination
        class=""
        style="display: inline-block"
        [boundaryLinks]="true"
        [totalItems]="77"
        previousText="<"
        nextText=">"
        firstText="<<"
        lastText=">>">
      </pagination>
    </div>


  </div>
</section>
