<div class="row no-gutters">
  <div class="col-sm-6">
    <img class="img-fluid" src="../../../assets/Static/Images/right_panel_image/right_panel_image@2x.png" alt="Right Login Image" />
  </div>

  <div class="col-sm-6">
   
    <div class="row no-gutters text-center mt-100">
      <div class="col-md-8 offset-md-2">
        <img src="../../../assets/Static/Images/Logo/Logo.png" alt="Logo Safa Fitness" />

        <div class="mt-30 no-gutters text-center">
          <h1 class="super-render-heading">SYSTEM LOGIN</h1>
        </div>

        <div class="mt-30 no-gutters text-center" *ngIf="Submit_Message">
          <p>{{Submit_Message}}</p>
        </div>

        <div class="mt-30 no-gutters text-center">
          <form [formGroup]="LoginFormBuilder" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input formControlName="username"
                     [ngClass]="{ 'is-invalid': Submitted && f.username.errors }"
                     type="text"
                     placeholder="Username"
                     class="form-control form-design-safa" />
            </div>

            <div class="form-group">
              <input type="password"
                     formControlName="password"
                     [ngClass]="{ 'is-invalid': Submitted && f.password.errors }"
                     placeholder="Password"
                     class="form-control form-design-safa" />
            </div>

            <div class="form-group">
              <button class="generic-button-safa full-width">LOGIN</button>
            </div>
          </form>
        </div>

      </div>
    </div>

   

  
  </div>
</div>
