/* You can add global styles to this file, and also import other style files */

/*@import "./node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.mt-200
{
    margin-top:200px;
}

.mt-60
{
    margin-top:60px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-30 {
  margin-top: 30px;
}

.super-render-heading {
    font-weight:bold;
    font-size:36px;
    font-family:Helvetica, sans-serif;
  letter-spacing: 0px;
  color: #000000;
}

.form-design-safa {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 11px;
  height:60px;
}

.generic-button-safa {
  height: 60px;
  background: #CAA33E 0% 0% no-repeat padding-box;
  border: 1px solid #EABF51;
  border-radius: 11px;
  font-family: Helvetica, sans-serif;
  font-size:20px;
  font-weight:normal;
  letter-spacing: 0px;
  color: #FFFFFF;
}


.full-width
{
    width:100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-sidenav { display: flex; }
mat-drawer-container { flex: 1 1 auto; }

.pl-15
{
  padding-left: 15px;
}

.pr-15
{
  padding-right: 15px;

}



.filter-table-selection
{
  text-align: left;
  font-size: 18px;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0;
  color: #B5B5B5;
  border: 0 solid transparent;
  outline: 0;
}


.positional-table-filter
{
  flex-direction: row;
  justify-content: space-between;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
