
:host
{
  box-shadow: -3px 0px 24px #00000029;
  border-radius: 0 0 65px 65px;
  opacity: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

:host
{
  background: #FFFFFF 0 0 no-repeat padding-box;
}


.table-view
{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 12px #00000029;
  border-radius: 32px;
}

.table-attendence-design
{

}


.table.table-attendence-design thead th {
  text-align: left;
  font-weight: normal;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0;
  color: #818181;
  opacity: 1;
}


.table.table-attendence-design tbody td {
  text-align: left;
  font-size: 18px;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0px;
  color: #000000;
}
